body {
    background-color: #e8eaec;
}

/* Navbar */
nav {
    backdrop-filter: blur(5px);
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper img {
    height: 100vh;
}

.swiper-button-prev,
.swiper-button-next {
    color: #000 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    background: rgba(255, 255, 255, 0.445);
    padding: 10px 7px;
    border-radius: 5px;
}

/* Service card */
.custom-shadow {
    box-shadow: 4px 4px 8px rgb(189 200 213), -4px -4px 8px rgb(255 255 255);
}

/* Form */
.invalid {
    border: 1px solid red !important;
}

.rmv-shadow {
    box-shadow: none !important;
}

.rmv-shadow:focus {
    box-shadow: none !important;
}

/* Form or section */
.top,
.bottom {
    height: 2px;
    width: 60%;
    background-color: rgb(204, 204, 204);
}

.google-button {
    border: 1px solid black;
    padding: 2px 15px;
}

.overlay {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.01));
}

/* checkout */
/* .checkout{
    min-height: 100vh !important;
} */

/* Sweet alert */
.swal2-confirm {
    background-color: #F2A540 !important;
}

/* About me */
.bg {
    background-image: url(./Assets/Images/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.type-writer span{
    font-size: 50px;
    font-weight: 500;
}
.type-writer span:nth-child(2){
    font-weight: 300 !important;
}
.image {
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 100;
}
.image img {
    bottom: 0;
    transition: all 1s;
  }
.image:hover .pattern {
    transform: translateY(-30px) !important;
}

.pattern {
    position: absolute;
    top: 10%;
    right: 0;
}

.image:hover .my-img {
    transform: translateX(30px) !important;
}

@media only screen and (max-width: 450px){
    .type-writer span{
        font-size: 30px;
    }
}

/* Not found */
.error{
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%{
        color: red;
        opacity: 1;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 0;
    }
}